<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB</title>
  </head>
  <body>
  <header>
    <h1>Hi <%=session[:user].first_name%> please see your listed propeties</h1>
  </header>
  <form action = '/list_space' method ='get'>
  <input type = 'submit' value = 'View Properties'>
</form>
    <p>
    <div id = 'container'>
      <%@properties.each do |property| %>
      <%if property.user_id == session[:user].user_id%>
      <div id = 'property'>
        <span>Title: <%=property.name%></span>
        <br>
        <span><%=property.price%> /night</span>
        <br>
        <span id='desc'>Description </span>
        <span id='hidden'><%=property.description%></span>
        <form action='/delete/<%=property.id%>' method='post'>
          <input type=submit value='Delete' name='delete'>
        </form>
      </div>
      <br>
      <%end%>
      <%end%>
    </div>
    </p>
  </body>
</html>