<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../style.css'>
    <title>Makers BnB</title>
  </head>
  <body>
  <header>
      <% if !!session[:user] %>
    Hi <%=session[:user].first_name%>
    <% end %>

    <h1>Available Properties</h1>
  </header><br>
  <br>
    <% if !!session[:user] %>
    <form action="/properties/<%=session[:user].user_id%>" method='get'>
      <input type='submit' value='My Properties'>
    </form>
    <br>
    <form action='/booking_requests' method='get'>
    <input type='submit' value='Booking Requests'>
    </form>
    <% end %>
    <p>
    <div id = 'container'>
      <%@properties.each do |property| %>
      <div id = 'property'>
        <span><%=property.name.capitalize%></span>
        <br>
        <span>£<%=property.price%> /night</span>
        <br>
        <span>Description </span><br><br>
        <span> <%=property.description.capitalize%></span><br><br>
        <form action='/request_stay/<%=property.id%>' method='GET'>
          <input type=submit value='Request a stay'>
        </form>
      </div>
      <br>
      <%end%>
    </div>
    </p>
  </body>
</html>
